
  &copy; Our Education Company Inc.

  <script type="text/javaScript" src="/js/jquery-3.5.1.js"></script>
  <script type="text/javaScript" src="/js/popper.min.js"></script>
  <script type="text/javaScript" src="/js/bootstrap.min.js"></script>

  <script src="/js/tiny-slider.js"></script>
  <script src="/js/testimonials.js"></script>
</body>
</html>