extends email-layout

block content
    h2 Registration Successful
    p Hello #{name}!
    br
    p Welcome to Adefams Shop! We sell at the cheapest rate in the world.


    p Don't forget to store your password safely.
    br
    p If you didn't request this email, please ignore it.
    p Adefams Group.
    p Regards.