<%- include ("partials/header.ejs") %>

<style>
	div.input {
		display: block;
	}
</style>

<div class="wrapper">
	<h2>Forget Password</h2>
	<form action="/passwordresetemail" method="POST">
		<div class="input">
			<label for="email">Email:</label>
			<input
				type="email"
				name="email"
				id="email"
				placeholder="Enter your email"
				required
			/>
		</div>
		<div class="input">
			<!-- <input type="button" value="submit ->"> -->
			<button type="submit">Reset Password</button>
		</div>
	</form>
	<div>
		<h3><a href="/register">Sign up here</a></h3>
	</div>
	<div>
		<h3><a href="#">login</a></h3>
	</div>
</div>

<%- include ("partials/footer.ejs") %>