<%- include ("partials/header.ejs") %>

<style>
	div.input {
		display: block;
	}
</style>

<h1><%= getUsername %></h1>

<% if (getResetKey) { %>

<div class="wrapper">
	<h2>Login here</h2>
	<form action="/resetpassword/<%= getResetKey %>" method="POST">
		<div class="input">
			<label for="password">New Password:</label>
			<input
				type="password"
				name="password"
				id="password"
				placeholder="Enter a new password"
				required
			/>
        </div>
        
        <div class="input">
			<label for="password2">Confirm New Password:</label>
			<input
				type="password"
				name="password2"
				id="password2"
				placeholder="Confirm new password"
				required
			/>
        </div>
        
		<div class="input">
			<!-- <input type="button" value="submit ->"> -->
			<button type="submit">Submit</button>
		</div>
	</form>
	<div>
		<h3><a href="/register">Sign up here</a></h3>
	</div>
	<div>
		<h3><a href="#">Forget Password</a></h3>
	</div>
</div>
<% } else { %>
<p class="input">Reset key session expire. Go <a href="/forgetPassword">here</a> to add products.</p>
<% } %>

<%- include ("partials/footer.ejs") %>