<%- include ("partials/header.ejs") %>

<style>
	div.input {
		display: block;
	}
</style>

<div class="wrapper">
	<h2>Sign up here</h2>
	<form action="/register" method="POST">
		<div class="input">
			<label for="name">Name:</label>
			<input
				type="text"
				name="name"
				id="name"
				placeholder="Enter a name if you have one"
				required
			/>
		</div>
		<div class="input">
			<label for="email">Email:</label>
			<input
				type="email"
				name="email"
				id="email"
				placeholder="Enter a email if you have one"
				required
			/>
		</div>

		<div class="input">
			<label for="phone">Phone No:</label>
			<input
				type="phone"
				name="phone"
				id="phone"
				placeholder="Enter your phone number"
				required
			/>
		</div>

		<div class="input">
			<label for="password">Password:</label>
			<input
				type="password"
				name="password"
				id="password"
				placeholder="Enter your password"
				required
			/>
		</div>
		<div class="input">
			<label for="password2">Confirm Password:</label>
			<input
				type="password"
				name="password2"
				id="password2"
				placeholder="Confirm your password"
				required
			/>
		</div>
		<div class="input">
			<!-- <input type="button" value="submit ->"> -->
			<button type="submit">Submit</button>
		</div>
	</form>
</div>

<%- include ("partials/footer.ejs") %>
